<footer class="flex flex-col w-full text-white">
  <div class="grid md:grid-cols-3 grid-cols-1 gap-5 p-10 items-center justify-center bg-purple-950">
    <div class="logo flex flex-row justify-center items-center mb-4">
      <img class="w-60 cursor-pointer" src="assets/logo-rm.svg" alt="logo" routerLink="/"/>
    </div>
    <div class="flex flex-col gap-2">
      <p class="text-base font-medium">SOBRE</p>
      <p class="text-sm text-justify">
        O Site Relíquias da Magia é um verdadeiro tesouro onde você pode
        adentrar um universo onde o extraordinário se torna realidade: <br />
        🔮 <span class="font-medium">Consultas de Tarô</span> que revelam os mistérios do seu destino e
        iluminam o caminho a seguir. <br />
        🏺 Um <span class="font-medium">Antiquário</span> fascinante, repleto de tesouros encantados, de
        bonecas antigas a peças raras, cada uma guardando segredos do passado.
        <br />
        🌌 <span class="font-medium">Produtos Exotéricos</span> que conectam você a seres elementais, amuletos
        poderosos e banhos mágicos, elevando sua energia e espiritualidade.
        <br />
        ⚡ E uma sessão especial de <span class="font-medium">Harry Potter</span>, onde a magia da famosa saga
        ganha vida com itens que farão seu coração brilhar. <br />
        Descubra esse reino mágico através do nosso site e veja como a magia
        pode transformar sua vida! ✨
      </p>
    </div>
    <div class="flex flex-col gap-2 justify-center items-center">
      <p class="text-base font-medium">Links Rápidos</p>
      <ul>
        <li class="font-sm cursor-pointer" routerLink="/">• <span class="underline">Página Inicial</span></li>
        <li class="font-sm cursor-pointer" routerLink="/tarot">• <span class="underline">Tarot Online</span></li>
      </ul>
    </div>
  </div>
  <div class="w-full justify-center items-center p-2 bg-gray-900">
    <p class="text-sm font-thin text-center">Copyright © 2024 Relíquias da Magia. Todos direitos reservados, proibido qualquer tipo de cópia ou reprodução sem prévia autorização.</p>
  </div>
</footer>
