<div class="{{imageUrl}} bg-cover rounded-2xl">
  <div class="flex flex-col md:gap-10 gap-5 justify-center items-center md:py-12 md:pl-10 md:pr-48 p-5 bg-gradient-to-r from-purple-950 to-transparent rounded-2xl">
    <div class="flex flex-col justify-center items-center md:gap-3 gap-1">
      <p class="font-light text-2xl  text-white ">sessão de</p>
      <p class="font-serif font-medium text-2xl text-white">{{ categoryName }}</p>
    </div>
    <button
      class="flex flex-row justify-center items-center border-2 rounded-lg text-xl font-semibold py-3 px-5 border-white text-white hover:bg-white hover:text-purple-900 transition-all"
    >
      CONFIRA
    </button>
  </div>
</div>
